server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: {{ loki_push_url }}

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: lxc
          host: {{ ansible_facts['hostname'] }}
          __path__: /var/log/*.log
      - targets:
          - localhost
        labels:
          job: lxc
          host: {{ ansible_facts['hostname'] }}
          __path__: /var/log/syslog
{% if promtail_extra_log_paths | length > 0 %}
  - job_name: game_server
    static_configs:
{% for path in promtail_extra_log_paths %}
      - targets:
          - localhost
        labels:
          job: game_server
          host: {{ ansible_facts['hostname'] }}
          __path__: {{ path }}
{% endfor %}
{% endif %}
