#Minecraft server properties
accepts-transfers=false
allow-flight=false
allow-nether=true
broadcast-console-to-ops=true
broadcast-rcon-to-ops=true
bug-report-link=
difficulty={{ mc_difficulty }}
enable-code-of-conduct=false
enable-command-block={{ mc_enable_command_block | lower }}
enable-jmx-monitoring=false
enable-query=false
enable-rcon={{ mc_enable_rcon | lower }}
enable-status=true
enforce-secure-profile=false
enforce-whitelist={{ mc_enforce_whitelist | lower }}
entity-broadcast-range-percentage=100
force-gamemode=false
function-permission-level=2
gamemode={{ mc_gamemode }}
generate-structures=true
generator-settings={}
hardcore=false
hide-online-players=false
initial-disabled-packs=
initial-enabled-packs=vanilla
level-name={{ mc_level_name }}
level-seed=
level-type=minecraft\:normal
log-ips=true
management-server-allowed-origins=
management-server-enabled=false
management-server-host=localhost
management-server-port=0
management-server-secret={{ mc_management_server_secret }}
management-server-tls-enabled=true
management-server-tls-keystore=
management-server-tls-keystore-password=
max-chained-neighbor-updates=1000000
max-players={{ mc_max_players }}
max-tick-time=60000
max-world-size=29999984
motd={{ mc_motd }}
network-compression-threshold={{ mc_network_compression_threshold }}
online-mode={{ mc_online_mode | lower }}
op-permission-level={{ mc_op_permission_level }}
pause-when-empty-seconds={{ mc_pause_when_empty_seconds }}
player-idle-timeout=0
prevent-proxy-connections=false
previews-chat=false
pvp={{ mc_pvp | lower }}
query.port={{ mc_port }}
rate-limit=0
rcon.password={{ mc_rcon_password }}
rcon.port={{ mc_rcon_port }}
region-file-compression=deflate
require-resource-pack=false
resource-pack=
resource-pack-id=
resource-pack-prompt=
resource-pack-sha1=
server-ip=
server-port={{ mc_port }}
simulation-distance={{ mc_simulation_distance }}
spawn-animals=true
spawn-monsters=true
spawn-npcs=true
spawn-protection={{ mc_spawn_protection }}
status-heartbeat-interval=0
sync-chunk-writes=true
text-filtering-config=
text-filtering-version=0
use-native-transport=true
view-distance={{ mc_view_distance }}
white-list={{ mc_whitelist | lower }}
