{
    "gameId": "{{ ck_game_id }}",
    "password": "{{ ck_password }}",
    "world": {{ ck_world }},
    "worldName": "{{ ck_world_name }}",
    "worldSeed": "{{ ck_world_seed }}",
    "hashedWorldSeed": 0,
    "maxNumberPlayers": {{ ck_max_players }},
    "maxNumberPacketsSentPerFrame": 1,
    "networkSendRate": {{ ck_network_send_rate }},
    "worldMode": {{ ck_world_mode }},
    "seasonOverride": {{ ck_season_override }}
}
