world={{ terraria_world }}

autocreate={{ terraria_autocreate }}

seed=

worldname={{ terraria_worldname }}

difficulty={{ terraria_difficulty }}

port={{ terraria_port }}

password={{ terraria_password }}

motd={{ terraria_motd }}

worldpath={{ terraria_worldpath }}

secure={{ terraria_secure }}

language={{ terraria_language }}

priority={{ terraria_priority }}
