[defaults]
deprecation_warnings = False
inventory          = inventory/
roles_path         = roles/
host_key_checking  = False
interpreter_python = auto_silent
stdout_callback    = default
result_format      = yaml
vars_plugins_enabled = community.sops.sops

[ssh_connection]
pipelining = True
